//Colors
$white: #ffffff;
$black: #000000;

$color1: hsla(254%, 88%, 20%, 1);
$color2: hsla(312%, 100%, 64%, 1);
$color3: hsla(342%, 100%, 76%, 1);
$color4: hsla(6%, 91%, 87%, 1);
$color5: hsla(47%, 67%, 88%, 1);

$color1: rgba(27, 6, 94, 1);
$color2: rgba(255, 71, 218, 1);
$color3: rgba(255, 135, 171, 1);
$color4: rgba(252, 200, 194, 1);
$color5: rgba(245, 236, 205, 1);

//Implementation
